<div class="center hero-unit">
  <h1>TwitterStockMood</h1>
</div>

<h2>Moods</h2>
<div id="graphdiv" style="width:100%; height:300px;"></div>
<script type="text/javascript">

var xhReq = new XMLHttpRequest();
xhReq.open("GET", "/streams/get_chart_header.json", false);
xhReq.send(null);
var header = JSON.parse(xhReq.responseText);

var xhReq = new XMLHttpRequest();
xhReq.open("GET", "/streams/get_chart_data.json", false);
xhReq.send(null);
var data = JSON.parse(xhReq.responseText);

for (var i = 0; i < data.length; i++) {
  data[i][0] = new Date(data[i][0]);
}

chart = new Dygraph(document.getElementById("graphdiv"), data, { labels: header, legend: 'always', labelsDivWidth: 400, ylabel: "% positive" });
</script>
