<div class="center hero-unit">
  <h1>TwitterStockMood</h1>
</div>

<h2>Moods</h2>
<div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.

  );
</script>
